// Add typography from https://simplecss.org/

body {
    @include neueHaasGroRoman;
    color: $color--primary;
}

h1, h2, h3, h4, h5, h6 {
	@include neueHaasGroBold;
	color: $color--primary;
}

h1 {}

h2 {
	color: $color--primary;
	font-size: 4rem;
}

h3 {
	font-size: 2rem;
}

h5 {
	font-size: 0.9rem;
}

h6 {}

p {
	@include neueHaasGroRoman;
	color: $color--primary;
	margin-bottom: $margin--general;
	&:last-child {
		margin-bottom: 0;
	}
	a {
		transition: $base--transition;
		@include neueHaasGroMedium;
		color: $color--primary;
		text-decoration: underline;
		&:hover {
			color: $color--tertiary;
		}
	}
	&.atmAdditional {
		@include neueHaasGroMedium;
		font-size: 1.3rem !important;
	}
}

strong {
	@include neueHaasGroMedium;
}

li {
	@include neueHaasGroRoman;
	color: $color--primary;
}


.ut--uc {
	@include headingUC;
}

.ut--secondary {
	color: $color--secondary;
}