// Add typography from https://simplecss.org/

body {
    @include pragmaticaBook;
    color: $color--primary;
}

h1, h2, h3, h4, h5, h6 {
	@include pragmaticaMedium;
	color: $color--primary;
}

h1 {}

h2 {
	color: $color--primary;
	font-size: 4rem;
}

h3 {
	font-size: 2rem;
}

h5 {
	font-size: 0.9rem;
}

h6 {}

p {
	@include pragmaticaBook;
	color: $color--primary;
	margin-bottom: $margin--general;
	&:last-child {
		margin-bottom: 0;
	}
}

li {
	@include pragmaticaBook;
	color: $color--primary;
}

strong {
	@include pragmaticaMedium;
}

.ut--uc {
	@include headingUC;
}

.ut--secondary {
	color: $color--secondary;
}