.org--content-download {
	margin-top: $margin--large;
	text-align: center;
	color: $color--black;
	& .org--content-download-inner {
		margin: 0;
		& .mol--content-download {
			padding-top: $padding--general;
		}
		& .fa-brands, .fa-sharp {
			margin-right: 10px; 
		}
	}
	& h3 {
		font-size: 3rem;
		@include pragmaticaMediumItalic;
		margin-top: 0;
		margin-bottom: 5px;
	}
	& p {
		font-size: 1.3rem;
	}
}

.mol--cassette-inlay {
	border: 2px solid $color--black;
	& .atm--inlay-header {
		padding:10px 0;
		border-bottom: 2px solid $color--black;
		background: $color--black;
		color: $color--white;
		font-size:24px;
	}
	& .atm--inlay-half {
		&:first-child {
			border-right: 1px solid $color--black;
		}	
		&:last-child {
			border-left: 1px solid $color--black;
		}
	}
	& .atm--inlay-letter {
		padding: 8px;
		border-bottom: 2px solid black; 
		font-size:24px;
		text-align: left;
		& span {
			padding: 3px 9px;
			color: white;
			background: $color--black;
		}
	}
	& .atm--inlay-content {
		height: 300px;
		background: url('../images/line-cassette-v5.png');
		background-repeat: repeat-y;
	}
	& .atm--inlay-download {
		padding: 15px; 
		border-top: 2px solid black; 
		font-size:24px;
		text-align: left;
	}
}
