.org--content-welcome {
	@include colorGradient(90deg, 0.3);
	& .org--content-welcome-inner {
		margin: 0;
		padding: $padding--large 0;
	}
	& h1 {
		font-size:1.4rem;
		line-height: 1.3;
	}
}

@media (min-width: $media-desktop) {
	.org--content-welcome {
		& .org--content-welcome-inner {
			padding: $padding--xxlarge 0;
		}
			& h1 {
			font-size:1.8rem;
			line-height: 1.4;
		}
	}
}
