.org--content-newsletter {
	text-align: center;
	color: $color--white;
	background-position: top center;
	& .org--content-newsletter-inner { 
		margin: 0;
		padding: $padding--large 0;
	}
	& h3 {
		@include neueHaasGroBold;
		font-size: 2.4rem;
		margin-top: 0;
		margin-bottom: 5px;
		color: $color--white;
	}
	& p {
		@include neueHaasGroMedium;
		font-size: 1.3rem;
		color: $color--white;
	}
	& .mol--newsletter-form {
		& input {
			border: none!important;
		}
		& input.email {
			padding-left: 15px;
		}
		& input[type="text"] {
			height: 50px;
		}
		& button, input[type="submit"].button {
			@include neueHaasGroMedium;
			color: $color--primary;
			min-width: 150px;
			border:none;
			transistion: $base--transition;
			background-color: $color--secondary;
			height:50px;
			font-size: 1rem;
			&:hover {
				color: $color--primary;
				background-color: darken($color--secondary, 5%);
			}
		}
	}
}

@media (min-width: $media-mobile) {
	.org--content-newsletter {
		& .mol--newsletter-form {
			& button, input[type="submit"].button {
				min-width: 200px;
			}
		}

	}
}

@media (min-width: $media-desktop) {
	.org--content-newsletter {
		padding: $padding--large*3 0;
	}
}