.org--content-getstarted {
	margin: $margin--large 0;
	padding: $padding--large 0;
	& .org--gs-item {
		padding: $padding--general;
		padding-right: $padding--xxlarge;
		background-color: $color--white;
		margin-bottom: $margin--small;
		box-shadow: $box--shadow-light;
		& .mol--gs-number {
			min-width: 150px;
			& span {
				@include pragmaticaBold;
				line-height: 1;
				font-size: 6rem;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		& h2 {
			@include pragmaticaExtMediumItalic;
			margin-top: 10px;
			font-size: 2rem;
		}
		& p {
			font-size: 1.1rem;
			line-height: 1.5;
			margin-top: $margin--small;
			margin-bottom: $margin--general;
		}
		& i.fa-sharp, & i.fa-kit {
			margin-right: $margin--small;
		}
		& a {
			@include pragmaticaBold;
			text-decoration: none;
			color: $color--primary;
			background: rgba($color--secondary, 0.33);
			&:hover {
				color: $color--primary;
				 background: rgba($color--secondary, 0.66);
			}
		}
		& ul {
			margin-top: $margin--small;
			margin-bottom: 0;
			& li {
				font-size: 1.1rem;
				margin-bottom: $margin--small;
				&:last-child {
					margin-bottom: 0;
				}
				
			}
		}
	}
}

