.org--content-roadmap {
	& .org--rm--item {
		padding-right: $padding--small;
		padding-bottom: $padding--general;
		padding-left: 30px;
		border-left: 5px solid $color--primary;
		&:last-child {
			padding-bottom: 0;
		}
		& .mol--rm--inner { 
			padding: $padding--general;
			background: $color--white;
			box-shadow: $box--shadow-light;
			position: relative; 
			& .atm--rm-marker {
				display: block;
				position: absolute;
				width: 30px;
				height: 30px;
				top: 50%;
				left: -20px;
				transform: translate(-50%, -50%);
				z-index: 15;
			}
			& .atm--rm-status {
				display: block;
				position: absolute; 
				margin: 7px;
				width: 50px;
				height: 50px;
				top: 0;
				right: 0;
				z-index: 20;
				& i {
					color: $color--tertiary;
				}
			}
			& h2 {
				font-size: 2rem;
			}
			& h5 {
				color: $color--tertiary;
			}
			& a {
				@include neueHaasGroBold;
				color: $color--highlight-dark;
				&:hover {
					color: $color--primary;
				}
			}
		}
	}
}

@media (min-width: $media-mobile) {}

@media (min-width: $media-desktop) {
	.org--content-roadmap {
		& .org--rm--item {
			& .mol--rm--inner { 
				padding-left: $padding--large;
				padding-right: $padding--xxlarge;
				& h2 {
					font-size: 3rem;
				}
			}
		}
	}
}

@media (min-width: $media-xwide) {}

@media (min-width: $max-width) {}


/*  Animation: .pulsatingDot
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pulsatingDot {
	animation: pulseDot 1.75s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.3s infinite;
	background-color: $color--tertiary;
	border-radius: 50%;
	box-sizing: border-box;
	height: 20px;
	width: 20px;
}

.pulsatingDot:before {
	animation: pulseRing 1.75s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
	background-color: $color--tertiary;
	border-radius: 50px;
	content: '';
	display: block;
	height: 300%;
	left: -100%;
	position: relative;
	top: -100%;
	width: 300%;
}  

@keyframes pulseRing {
	0% { transform: scale(.4); }
	80%, 100% { opacity: 0; }
}

@keyframes pulseDot {
	0%, 100% { transform: scale(1); }
	50% { transform: scale(1.05); }
}