[class*="org--content-"] {
	& p {
		font-size: 1.1rem;
		line-height: 1.5;
		margin-top: $margin--small;
		margin-bottom: $margin--small;
	}
	& ul {
		margin-top: $margin--small;
		margin-bottom: 0;
		&.atm--list-bullet li {
			list-style: disc;
		}
		&.atm--list-nobullet li {
			list-style: none;
			margin-left: -10px;
		}
		& li {
			@include neueHaasGroMedium;
			font-size: 1.15rem;
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

[class*="mol--content-"] {
		padding: $padding--small*1.2 0;
}

@media (min-width: $media-mobile) {}

@media (min-width: $media-desktop) {
	[class*="mol--content-"] {
		padding: $padding--general 0;
	}
}

@media (min-width: $media-xwide) {}

@media (min-width: $max-width) {}