.org--content-getstarted {
	& .org--gs-item {
		padding: $padding--general;
		background-color: $color--white;
		margin-bottom: $margin--small;
		box-shadow: $box--shadow-light;
		& .mol--gs-number {
			min-width: 100px;
			& span {
				@include neueHaasGroBold;
				line-height: 1;
				font-size: 4rem;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		& h2 {
			@include neueHaasGroBold;
			font-size: 1.5rem;
			margin-top: 7px;
		}
		& h5 {
			color: $color--tertiary;
		}
		& i.fa-sharp, & i.fa-kit {
			margin-right: $margin--small;
		}
	}
}

@media (min-width: $media-mobile) {}

@media (min-width: $media-desktop) {
	.org--content-getstarted {
		& .org--gs-item {
			padding-right: $padding--xxlarge;
			& .mol--gs-number {
				min-width: 150px;
				& span {
					font-size: 6rem;
				}
			}
			& h2 {
				font-size: 2rem;
			}
		}
	}
}
@media (min-width: $media-xwide) {}

@media (min-width: $max-width) {}