.mol--content-help {
	& span.atm--coming-soon {
		@include neueHaasGroMedium;
		font-size: 1.2rem;
		& i {
			margin-right: $margin--small;
		}
	}
	& ul.mol--help-pages {
		list-style: none;
		padding-left: 1rem;
		& li {
			margin-bottom: $margin--xsmall;
			& i {
				margin-right: $margin--small;
			}
		}
	}
}