[class*="org--content-"] {
	margin: $margin--general 0;
	padding: $padding--general 0;
}

@media (min-width: $media-mobile) {}

@media (min-width: $media-desktop) {
	[class*="org--content-"] {
		margin: $margin--large 0;
		padding: $padding--large 0;
	}
}
@media (min-width: $media-xwide) {}

@media (min-width: $max-width) {}