.mol--content-help {
	margin: $margin--small 0;
	& .mol--help-cat {
		margin-bottom: $margin--general;
		&:last-child {
			margin-bottom: 0;
		}
	}
	& span.atm--coming-soon {
		@include neueHaasGroMedium;
		font-size: 1.2rem;
		& i {
			margin-right: $margin--small;
		}
	}
	& ul.mol--help-pages {
		list-style: none;
		padding-left: 5px;
		& li {
			margin-bottom: $margin--xsmall;
			&:last-child {
				margin-bottom: 0;
			}
			& i {
				margin-right: $margin--small;
			}
		}
	}
}

@media (min-width: $media-desktop) {
	.mol--content-help {
		margin: $margin--general 0;
		& .mol--help-cat {
			margin-bottom: 0;
		}
	}
}