// This need to be organised into header, introduction and body/content

.org--content-post {
	// Set some high level styles for posts,
	// And then drop down in specificity
	padding-bottom: $padding--xlarge;
	& h2 {
		font-size: 2.1rem;
		margin-bottom: $margin--small;
	}
	& h3 {
		font-size: 1.8rem;
		margin-bottom: 0;
	}
	& h4 {
		font-size: 1.2rem;
		margin-bottom: 16px;
	}
	p {
		font-size: 1.15rem;
		line-height: 1.75;
		margin-top: 0;
		margin-bottom: $margin--general;
		&:last-child {
			margin-bottom:0;
		}
		&.atm--post-intro {
			@include neueHaasGroBold;
			font-size: 1.4rem;
			line-height: 1.6;
		}
		&.atm--post-outro {
			@include neueHaasGroBold;
			font-size: 1.4rem;
			line-height: 1.5;
			font-style: italic;
			margin: 0;
		}
		&.bullet-intro {
			margin-bottom: $margin--small*0.8;
		}
		&.bullet-outro {
			margin-bottom: $margin--general;
		}
	}
	& .mol--list {
		& ul, & ol {
			font-size: 1.15rem;
			margin-top: 0;
		}
	}
	& ul, & ol {
		margin-bottom: $margin--small*0.8;
	}
	& ul li, ol li {
		font-size: 1.1rem;
		@include neueHaasGroRoman;
		color: $color--primary;
		margin-bottom: 10px;
	}
}

.hljs-copy {}

.mol--post-paragraph {
	margin-bottom: $margin--general;
}

.mol--image-full {
	& figure.atm--post-img {
		margin-bottom: $margin--general;
		position: relative;
		& figcaption {
			@include neueHaasGroMedium;
			position: absolute;
			font-style: italic;
			z-index: 10;
			bottom: 30px;
			left: 0;
			padding: 7px 20px;
			background-color: #fffbf3;
			border-top: 5px solid $color--tertiary;
			font-size: 0.9rem;
			box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}
	& figure.atm--post-img-outline {
		border: 1px solid rgba(0,0,0,0.1);
		box-shadow: 0 0 15px rgba(0,0,0,0.1);
	}
}

.mol--image-row {
	margin-bottom: $margin--general;
}

.mol--code-block {
	position: relative;
	margin-bottom: $margin--large;
	& .atm--code-header {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		background-color: rgba(0,0,0,0.2);
		& button {
			cursor: pointer;
			padding: 4px 10px;
			font-size: 0.8rem;
			@include neueHaasGroMedium;
			color: $color--white;
			border: none;
			background-color: rgba(0,0,0,0.3);
			&:hover {
				background-color: rgba(0,0,0,0.6);
			}
		}
	}
	& pre code.hljs {
		padding: $padding--general;
		padding-top: 50px;
	}
	& .hljs-ln-numbers {
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    text-align: center;
	    color: rgba(255,255,255,0.3);
	    // border-right: 1px solid rgba(255,255,255,0.3);
	    vertical-align: top;
	    padding-right: 5px;
    }
    /* for block of code */
    & .hljs-ln-code {
    	padding-left: 15px;
    }
}

.mol--post-callout {
	@include neueHaasGroMedium;
	color: $color--primary;
	@include colorGradient(45deg, 0.25);
	border-radius: 10px;
	padding: $padding--large;
	margin-bottom: $margin--general;
	font-size: 1.2rem;
	& a {
		color: $color--primary;
		text-decoration: underline;
		&:hover {
			color: $color--tertiary;
		}
	}
}

.mol--post-break {
	margin-bottom: $margin--general;
	& figure {
		max-width: 140px;
	}
}

.mol--post-button {
	margin-top: $margin--small;
	margin-bottom: $margin--large;
	& a {
		@include neueHaasGroMedium;
		padding: 12px 40px;
		background-color: $color--primary;
		border-radius: 20px;
		font-size: 1.2rem;
		color: $color--tertiary;
		text-decoration: none;
		letter-spacing: 0.02em;
		&:hover {
			text-decoration: none;
			color: $color--secondary;
			background-color: darken($color--primary, 10%);
		}
	}
}

.mol--video-embed {
	margin-bottom: $margin--general;
}

.mol--post-conclusion {
	padding: 40px 80px;
	margin-top: 60px;
	border-top: 1px solid $color--secondary;
	border-bottom: 1px solid $color--secondary;
	margin-bottom: $margin--general;
}

@media (min-width: $media-mobile) {}
@media (min-width: $media-desktop) {
	.org--content-post {
		& h3 {
			margin-bottom: $margin--small;
		}
		
	}
}
@media (min-width: $media-xwide) {}
@media (min-width: $max-width) {}