// Split into Banner types... and organise AND FINALISE
.mol--news-banner {
	& .atm--banner-default {
		@include neueHaasGroMedium;
		background-color: $color--secondary;
		font-size: 1.2rem;
		color: $color--white;
		& span.atm--news-text {
			color: $color--primary;
			& i {
				margin-right: 17px;
			}
		}
		& span.atm--news-link {
			& a {
				transition: $base--transition;
				color: rgba($color--primary, 0.5);
				&:hover {
					color: $color--primary;
				}
			}
		}
	}
	& .atm--banner-ticker {
		@include neueHaasGroMedium;
		background-color: $color--secondary;
		font-size: 1rem;
		color: $color--primary;
		padding: 2px;
		& a {
			color: $color--primary;
			text-decoration: underline;
		}
	}
}

$tickerduration: 20s; 
@media (min-width: $media-mobile) {}
@media (min-width: $media-desktop) {}
@media (min-width: $media-wide) {}
@media (min-width: $media-xwide) {}
@media (min-width: $max-width) {}

// Live
.mol--ticker2-wrap {
	width: 100%;
	@include neueHaasGroMedium;
	background-color: $color--secondary;
 	overflow: hidden;
 	height: 2rem;
}

.mol--ticker2 {
	height: 2rem;
	line-height: 2rem;
	color: $color--primary;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: ticker2 $tickerduration linear infinite;
	-webkit-animation: ticker2 $tickerduration linear infinite;
	animation: ticker2 $tickerduration linear infinite;
	& a {
		color: $color--primary;
		text-decoration: underline;
		&:hover {
			cursor: pointer;
		}
	}
}

@-moz-keyframes ticker2 {
	from { -moz-transform: translateX(100%); }
	to { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes ticker2 {
	from { -webkit-transform: translateX(100%); }
	to { -webkit-transform: translateX(-100%); }
}

@keyframes ticker2 {
	from {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}


// Version 01: To Delete
@-webkit-keyframes ticker {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes ticker {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

.mol--ticker-wrap {
	box-sizing: content-box;
	position: fixed;
	width: 100%;
	@include neueHaasGroMedium;
	background-color: $color--secondary;
	overflow: hidden;
	height: 2rem;
	padding-left: 100%;
 	& .mol--ticker {
 		box-sizing: content-box;
	    display: inline-block;
	    height: 2rem;
	    line-height: 2rem;  
	    white-space: nowrap;
	    padding-right: 100%;
	    -webkit-animation-iteration-count: infinite; 
	            animation-iteration-count: infinite;
	    -webkit-animation-timing-function: linear;
	            animation-timing-function: linear;
	   -webkit-animation-name: ticker;
	           animation-name: ticker;
	    -webkit-animation-duration: $tickerduration;
	            animation-duration: $tickerduration;
    	&__item {
	      	display: inline-block;
	      	padding: 2px;
	      	font-size: 1rem;
	      	color: $color--primary;
	      	& a {
	      		color: $color--primary;
				text-decoration: underline;
				&:hover {
					cursor: pointer;
				}
	      	}
    	}
    }
}


