// For page introduction
.org--content-introduction {
	@include colorGradient(90deg, 0.3);
	color: $color--primary;
	background-position: top center;
	& .org--content-introduction-inner {
		margin: 0;
		padding: $padding--large 0;
	}
	& h3 {
		font-size: 3rem;
		@include neueHaasGroMedium;
		margin-top: 0;
		margin-bottom: 5px;
	}
	& p {
		font-size: 1.3rem;
	}
	& .mol--content-introduction {
		padding: $padding--general 0;
		margin-bottom: $margin--small;
	    text-align: center;
		& h1 {
			font-size: 2.1rem; 
		}
		& p {
			@include neueHaasGroBold;
			font-size: 1.1rem;
			line-height: 1.3;
			margin-bottom: 0;
		}
	}
}



@media (min-width: $media-mobile) {}

@media (min-width: $media-desktop) {
	.org--content-introduction {
		& .org--content-introduction-inner {
			padding: $padding--large*3 0;
		}
		& .mol--content-introduction {
	        & h1 {
	        	font-size: 3rem;
	        	margin-top: 5px;
	        }
	        & p {
				font-size: 1.3rem;
				line-height: 1.5;
				margin-bottom: 0;
			}
		}
	}
}

@media (min-width: $media-xwide) {}

@media (min-width: $max-width) {}