@mixin headingUC {
	@include pragmaticaBold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

@mixin navigationUC {
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-family: $brand--font-semi;
}