footer {
	background-color: rgba($color--primary,1);
	background-position: top center;
	i {
		color: $color--white;
		margin-right: $margin--small;
	}
	i.inactive {
	  cursor: not-allowed;
	  color: rgba($color--white,0.3);
	}
	.highlight {
		color: $color--highlight-light;
	}
	a {
		@include pragmaticaBook;
		color: $color--white;
		text-decoration: underline 2px;
		letter-spacing: 0.05em;
		&:hover {
			color: $color--secondary;
			cursor: pointer;
		}
		& i {
			transition: 0.3s;
			&:hover {
				cursor: pointer;
				color: $color--secondary;
			}	
		}
	}
	.org--footer-inner {
		padding: $padding--general 0;
		& .org--unit-logo {
			margin-top: $margin--general;
			& img {
				height:50px;
				margin-bottom: $margin--small;
			}
		}
		& .org--unit {
			border-bottom: solid 1px $color--white;
			border-top: solid 1px $color--white;
			padding: $padding--large 0;
			margin-top: $margin--general;
			margin-bottom: $margin--xsmall;
			color: $color--white;
			& p.atm--description {
				@include pragmaticaExtMedium;
				font-size: 1.8rem;
				line-height: 1.4;
				color: $color--white;
				font-weight: 400;
				letter-spacing: 0.01em;
				padding: 0;
				margin: 0;
				padding-right: $padding--general*2;
			}
			& section.mol--unit-contact {
				margin-top: $margin--general;
				color: $color--white;
				& h4 {
			  		@include headingUC;
			  		color: $color--white;
			  		font-size: 0.9rem;
			  		margin-bottom: 12px;
			  	}
			  	& span {
			  		font-size: 1.2rem;
			  	}
			}
			& i {
				margin-right: $margin--small;
			}
		}
		& .org--unit-copyright {
			& p.atm--copyright {
		 		color: rgba($color--white,0.5);
			 	margin-top: $padding--small;
			  	font-size: 0.9rem;
			}
		}
	}
}

@media (min-width: $media-desktop) {
	footer {
		& .org--footer-inner {
			padding: $padding--xlarge 0;
			& .org--unit-logo {
				margin-top: 0;
			}
			& .org--unit {
				& section.mol--unit-contact {
					margin-top: 0;
				}
			}
		}
	}
}

@media (min-width: $media-xwide) {}

@media (min-width: $max-width) {}