// Set breakpoint for navigation from header.php e.g.
$breakpoint--navigation: $media-desktop;

/* Menu: General
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav.navbar {
	padding: $padding--general 0;
	& h1, h1 a.navbar-brand {
		@include headingUC(0.9rem);
		background: unset;
		color: $color--white;
		margin-bottom: 0;
	}
	& h1 a.navbar-brand:hover {
		color: $color--tertiary;
	}
	// Image-based logo
	& img, & a img {
		width: 200px;
	}
	& a {
		background: unset;
	}
	& ul.navbar-nav {
		& li.menu-item {
			a.nav-link {
				@include navigationUC;
				transition: $base--transition;
				font-size: 0.9rem;
				background: unset;
				color: $color--white;
				&:link {
					color: $color--white;
				}
				&:visited {
					color: $color--white;
				}
				&:hover {
					background: unset;
					color: $color--tertiary;
				}
				&:active {
					color: $color--white;
				}
				&:disabled {
					color: rgba($color--white, 0.3);
				}
			}
		}
	}
}

/* Menu: Mobile
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: $breakpoint--navigation - 1px){
	.offcanvas.offcanvas-end {
		backdrop-filter: blur(7px);
		background-color: rgba($color--primary,0.8);
		color: $color--white;
		& .offcanvas-header {
			padding: 30px;
			& img {
				height: 24px;
			}
			& button.btn-close {
				background: black;
				opacity: unset;
				& i {
					color: $color--white;
					&:hover {
						color: $color--tertiary;
					}
				}
			}
		}
		& .offcanvas-body {
			padding: 30px;
			& li.menu-item {
				a.nav-link {
					padding: 12px 0;
				}
			}
			& li.outline a.nav-link {
				margin-top: 12px;
				padding: 24px 0;
				border-top: 2px solid $color--white;
				color: $color--white;
				&:hover {
					border-top: 2px solid $color--white;
					color: $color--tertiary;
				}
			}
			& li.active.outline a.nav-link {
				margin-top: 12px;
				padding: 24px 0;
				border-top: 2px solid $color--white;
				color: $color--tertiary;
				&:hover {
					border-top: 2px solid $color--white;
					color: $color--tertiary;
				}
			}
		}
	}
	.navbar button.atmButtonNav { // Hamburger menu
		background-color: rgba($color--white,0);
		border: 2px solid $color--white;
		&:hover {
			background-color: rgba($color--white,0.1);
			border: 2px solid $color--white;
		}
		& i {
			color: $color--white;
		}
	}
}

/* Menu: Non-mobile
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: $breakpoint--navigation){
	.offcanvas.offcanvas-end {
		backdrop-filter: unset;
		background-color: unset;
		ul.navbar-nav {
			& li.menu-item {
				a.nav-link {
					margin-left: $margin--small;
				}
			}
			& li.outline a.nav-link {
				border-radius: $base--borderradius;
				border: 2px solid $color--white;
				color: $color--white;
				margin-left: $margin--small;
				&:hover {
					border: 2px solid $color--tertiary;
					color: $color--tertiary;
				}
			}
			& li.active.outline a.nav-link {
				border-radius: $base--borderradius;
				border: 2px solid $color--tertiary;
				color: $color--tertiary;
				margin-left: $margin--small;
				&:hover {
					border: 2px solid $color--tertiary;
					color: $color--tertiary;
				}
			}
		}
		& li.current-menu-item a, li.current-menu-item:hover a {
			color: $color--tertiary;
		}
	}
}

.current_page_item a {
	color: $color--tertiary !important;
}