@charset "UTF-8";
/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Brand colors */
/* Media Queries & Max Width
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Margin & Padding
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Fonts: Pragmatica
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Fonts: Averta (TODELETE)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url("//hello.myfonts.net/count/3e7d84");
@font-face {
  font-family: 'AvertaStdPE-Regular';
  src: url("fonts/AvertaStdPERegular/font.woff2") format("woff2"), url("../fonts/AvertaStdPERegular/font.woff") format("woff"); }

@font-face {
  font-family: 'AvertaStdPE-Semibold';
  src: url("fonts/AvertaStdPESemibold/font.woff2") format("woff2"), url("../fonts/AvertaStdPESemibold/font.woff") format("woff"); }

@font-face {
  font-family: 'AvertaStdPE-Bold';
  src: url("fonts/AvertaStdPEBold/font.woff2") format("woff2"), url("../fonts/AvertaStdPEBold/font.woff") format("woff"); }

/* Variable Font Sizes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Body font size. By default 16px, based on 16px as 'root em' */
/* Major second scale progression - see https://type-scale.com/ */
/* Line height is set to the "Golden ratio" for optimal legibility */
body {
  line-height: 1.618; }

h1 {
  font-size: 1.6018066406rem; }

h2 {
  font-size: 1.423828125rem; }

h3 {
  font-size: 1.265625rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: calc($brand--font-size / $brand--header-scale); }

/* Initial sizing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 100%; }

body {
  font-size: 1em;
  /* currently ems because Chrome bug misinterpreting rems on body element */ }

a {
  transition: 0.4s; }

@media (min-width: 1400px) {
  .container-fluid {
    padding: 0 50px; } }

@media (min-width: 2400px) {
  .container-fluid {
    max-width: 2400px;
    padding: 0 180px; } }

strong {
  font-family: "AvertaStdPE-Semibold", Arial, Helvetica, sans-serif; }

::-moz-selection {
  color: #000C16;
  background: rgba(64, 211, 193, 0.33); }

::selection {
  color: #000C16;
  background: rgba(64, 211, 193, 0.33); }

body {
  font-family: pragmatica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000C16; }

h1, h2, h3, h4, h5, h6 {
  font-family: "pragmatica-extended", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000C16; }

h2 {
  color: #000C16;
  font-size: 4rem; }

h3 {
  font-size: 2rem; }

h5 {
  font-size: 0.9rem; }

p {
  font-family: pragmatica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000C16;
  margin-bottom: 2rem; }
  p:last-child {
    margin-bottom: 0; }

li {
  font-family: pragmatica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000C16; }

strong {
  font-family: pragmatica, sans-serif;
  font-weight: 700;
  font-style: normal; }

.ut--uc {
  font-family: pragmatica, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em; }

.ut--secondary {
  color: #40D3C1; }

blockquote {
  margin: 0;
  padding: 0;
  font-size: 1.1rem; }
  blockquote cite {
    margin: 0;
    padding: 0;
    display: block;
    font-style: normal; }

footer blockquote {
  margin-right: 4rem;
  font-size: 2rem;
  line-height: 1.4;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.01em; }
  footer blockquote cite {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #40D3C1; }
    footer blockquote cite span.context {
      margin-top: 5px;
      display: block;
      font-size: 0.9rem;
      line-height: 1.2;
      color: #40D3C1; }

a[class*="atm--button-"] {
  text-decoration: none; }
  a[class*="atm--button-"] i {
    transition: 0.4s; }
  a[class*="atm--button-"]:hover {
    cursor: pointer; }

.atm--button-primary {
  padding: 12px 28px;
  padding-right: 40px;
  background-color: #1C2E32; }
  .atm--button-primary span {
    letter-spacing: 0.02em;
    color: #fff; }
  .atm--button-primary i {
    color: #40D3C1;
    margin-left: 12px; }
  .atm--button-primary:hover {
    background-color: #000C16; }
    .atm--button-primary:hover i {
      transform: translate(12px, 0); }

.atm--button-secondary {
  padding: 12px 28px;
  padding-right: 40px;
  background-color: rgba(0, 12, 22, 0); }
  .atm--button-secondary span {
    letter-spacing: 0.02em;
    color: #40D3C1; }
  .atm--button-secondary:hover span {
    color: #40D3C1;
    background-color: rgba(0, 12, 22, 0);
    text-decoration: underline 2px; }

.atm--button-primary + .atm--button-secondary {
  margin-left: 1rem; }

a.atm--download {
  transition: 0.4s;
  color: #000;
  text-decoration: none; }
  a.atm--download:hover {
    text-decoration: underline;
    color: #000; }

.mol--content-newsletter input[type=text] {
  padding: 10px;
  border-radius: 0;
  border: none; }

.mol--content-newsletter button[type=submit] {
  background-color: #40D3C1;
  padding: 10px;
  border-radius: 0;
  border: none; }
  .mol--content-newsletter button[type=submit]:hover {
    background-color: #2ec7b4; }

figure {
  margin: 0;
  padding: 0; }
  figure.atm--headshot {
    border: 10px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  figure.rm--logo {
    margin-top: 2rem; }
  figure.atm--figure-featured img {
    object-fit: contain;
    height: 300px; }

header {
  background-color: #000C16; }

nav a {
  font-family: pragmatica, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff; }
  nav a:link {
    color: #fff; }
  nav a:visited {
    color: #fff; }
  nav a:hover {
    color: #FF8478; }
  nav a:active {
    color: #fff; }
  nav a:disabled {
    color: rgba(255, 255, 255, 0.3); }

nav.navbar {
  padding: 2rem 0; }
  nav.navbar h1, nav.navbar h1 a.navbar-brand {
    font-family: pragmatica, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "AvertaStdPE-Regular", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 0; }
  nav.navbar h1 a.navbar-brand:hover {
    color: #40D3C1; }
  nav.navbar li a.nav-link {
    transition: 0.4s;
    margin-left: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "AvertaStdPE-Semibold", Arial, Helvetica, sans-serif;
    color: #fff; }
    nav.navbar li a.nav-link:link {
      color: #fff; }
    nav.navbar li a.nav-link:visited {
      color: #fff; }
    nav.navbar li a.nav-link:hover {
      color: #FF8478; }
    nav.navbar li a.nav-link:active {
      color: #fff; }
    nav.navbar li a.nav-link:disabled {
      color: rgba(255, 255, 255, 0.3); }
  nav.navbar li.active a.nav-link {
    color: #FF8478; }
  nav.navbar li.getstarted a.nav-link {
    border: 1px solid #fff;
    color: #fff; }
    nav.navbar li.getstarted a.nav-link:hover {
      border: 1px solid #FF8478;
      color: #FF8478; }
  nav.navbar li.active.getstarted a.nav-link {
    border: 1px solid #FF8478;
    color: #FF8478; }
    nav.navbar li.active.getstarted a.nav-link:hover {
      border: 1px solid #FF8478;
      color: #FF8478; }

@media (max-width: 767px) {
  .offcanvas.offcanvas-end {
    backdrop-filter: blur(7px);
    background-color: rgba(17, 17, 17, 0.8);
    color: #fff;
    border-left: 5px solid black; }
    .offcanvas.offcanvas-end h2 {
      color: white; }
    .offcanvas.offcanvas-end .offcanvas-header {
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px; }
    .offcanvas.offcanvas-end .offcanvas-body {
      padding: 0; }
    .offcanvas.offcanvas-end li.menu-item {
      padding: 10px 0;
      padding-left: 30px;
      border-left: 7px solid #000;
      background-color: rgba(0, 0, 0, 0.2); }
      .offcanvas.offcanvas-end li.menu-item:hover {
        background-color: rgba(0, 0, 0, 0.5);
        border-left: 7px solid #40D3C1; }
    .offcanvas.offcanvas-end li.current-menu-item, .offcanvas.offcanvas-end li.current-menu-item:hover {
      background-color: black;
      border-left: 7px solid #40D3C1; }
      .offcanvas.offcanvas-end li.current-menu-item:hover, .offcanvas.offcanvas-end li.current-menu-item:hover:hover {
        color: #40D3C1; }
    .offcanvas.offcanvas-end .offcanvas-header button.btn-close {
      background: unset;
      opacity: unset;
      background: yellow; }
      .offcanvas.offcanvas-end .offcanvas-header button.btn-close i {
        color: green; }
        .offcanvas.offcanvas-end .offcanvas-header button.btn-close i:hover {
          color: orange; } }

@media (min-width: 768px) {
  .offcanvas.offcanvas-end {
    backdrop-filter: unset;
    background-color: unset; }
    .offcanvas.offcanvas-end li.current-menu-item a, .offcanvas.offcanvas-end li.current-menu-item:hover a {
      color: #40D3C1; } }

.org--content-default {
  margin: 4rem 0;
  padding: 2rem 0; }

.org--content-download {
  margin: 4rem 0;
  padding: 4rem 0; }

.org--content-inst {
  margin: 4rem 0;
  padding: 4rem 0;
  color: #fff; }
  .org--content-inst .org--content-inst-inner h2 {
    color: #fff; }
  .org--content-inst .org--content-inst-inner a {
    color: #fff; }
  .org--content-inst .org--content-inst-inner .atm--inst-logo {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3); }

.org--content-shop {
  margin: 4rem 0;
  padding: 4rem 0; }

.mol--content-introduction {
  padding: 2rem 0;
  margin-bottom: 1rem; }
  .mol--content-introduction h1 {
    font-size: 4rem;
    text-align: center; }
  .mol--content-introduction p {
    font-family: pragmatica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center; }

footer {
  background-color: #000c16;
  background-position: top center; }
  footer i {
    color: #fff;
    margin-right: 1rem; }
  footer i.inactive {
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.3); }
  footer .highlight {
    color: #40D3C1; }
  footer a {
    font-family: pragmatica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-decoration: underline 2px;
    letter-spacing: 0.05em; }
    footer a:hover {
      color: #FF8478; }
    footer a i {
      transition: 0.3s; }
      footer a i:hover {
        color: #FF8478; }

.org--footer-inner {
  padding: 2rem 0; }

@media (min-width: 576px) {
  footer .org--footer-inner {
    padding: 6rem 0; } }

@media (min-width: 768px) {
  footer .org--footer-inner {
    padding: 10rem 0; } }

.org__unit-logo img {
  height: 40px;
  margin-bottom: 1rem; }

.org__unit {
  border-bottom: solid 1px #fff;
  border-top: solid 1px #fff;
  padding: 4rem 0;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #fff; }
  .org__unit p.atm__description {
    font-size: 1.8rem;
    line-height: 1.4;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.01em;
    padding: 0;
    margin: 0;
    padding-right: 4rem; }
  .org__unit section {
    color: #fff; }
    .org__unit section h4 {
      font-family: pragmatica, sans-serif;
      font-weight: 700;
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: #fff;
      font-size: 0.9rem;
      margin-bottom: 12px; }
    .org__unit section span {
      font-size: 1.2rem; }
  .org__unit i {
    margin-right: 1rem; }

.org__unit_copyright p.atm__copyright {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 1rem;
  font-size: 0.9rem; }

.org--content-download {
  margin-top: 4rem;
  text-align: center;
  color: #000;
  background-position: top center; }
  .org--content-download .org--content-download-inner {
    margin: 0; }
    .org--content-download .org--content-download-inner .mol--content-download {
      padding-top: 2rem; }
    .org--content-download .org--content-download-inner .fa-brands, .org--content-download .org--content-download-inner .fa-sharp {
      margin-right: 10px; }
  .org--content-download h3 {
    font-family: "pragmatica-extended", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 5px; }
  .org--content-download p {
    font-size: 1.3rem; }

.mol--cassette-inlay {
  border: 2px solid #000; }
  .mol--cassette-inlay .atm--inlay-header {
    padding: 10px 0;
    border-bottom: 2px solid #000;
    background: #000;
    color: #fff;
    font-size: 24px; }
  .mol--cassette-inlay .atm--inlay-half:first-child {
    border-right: 1px solid #000; }
  .mol--cassette-inlay .atm--inlay-half:last-child {
    border-left: 1px solid #000; }
  .mol--cassette-inlay .atm--inlay-letter {
    padding: 8px;
    border-bottom: 2px solid black;
    font-size: 24px;
    text-align: left; }
    .mol--cassette-inlay .atm--inlay-letter span {
      padding: 3px 9px;
      color: white;
      background: #000; }
  .mol--cassette-inlay .atm--inlay-content {
    height: 300px;
    background: url("../images/line-cassette-v5.png");
    background-repeat: repeat-y; }
  .mol--cassette-inlay .atm--inlay-download {
    padding: 15px;
    border-top: 2px solid black;
    font-size: 24px;
    text-align: left; }

.org--content-newsletter {
  margin-top: 4rem;
  text-align: center;
  color: #fff;
  background-position: top center; }
  .org--content-newsletter .org--content-newsletter-inner {
    margin: 0;
    padding: 12rem 0; }
  .org--content-newsletter h3 {
    font-family: "pragmatica-extended", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 3rem;
    color: #fff;
    margin-top: 0;
    margin-bottom: 5px; }
  .org--content-newsletter p {
    color: #fff;
    font-size: 1.3rem; }
  .org--content-newsletter .mol--newsletter-form input {
    border: none !important; }
  .org--content-newsletter .mol--newsletter-form input.email {
    padding-left: 15px; }
  .org--content-newsletter .mol--newsletter-form input[type="text"] {
    height: 50px; }
  .org--content-newsletter .mol--newsletter-form button, .org--content-newsletter .mol--newsletter-form input[type="submit"].button {
    color: #000C16;
    min-width: 150px;
    border: none;
    transistion: 0.4s;
    background-color: #40D3C1;
    height: 50px;
    font-size: 1rem; }
    .org--content-newsletter .mol--newsletter-form button:hover, .org--content-newsletter .mol--newsletter-form input[type="submit"].button:hover {
      color: #000C16;
      background-color: #2fcbb8; }

@media (min-width: 576px) {
  .org--newsletter {
    padding: 1rem; }
    .org--newsletter .mol--newsletter-form button, .org--newsletter .mol--newsletter-form input[type="submit"].button {
      min-width: 200px; } }

@media (min-width: 768px) {
  .org--newsletter {
    padding: 2rem; } }

.org--content-getstarted {
  margin: 4rem 0;
  padding: 4rem 0; }
  .org--content-getstarted .org--gs-item {
    padding: 2rem;
    padding-right: 10rem;
    background-color: #fff;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    .org--content-getstarted .org--gs-item .mol--gs-number {
      min-width: 150px; }
      .org--content-getstarted .org--gs-item .mol--gs-number span {
        font-family: pragmatica, sans-serif;
        font-weight: 700;
        font-style: normal;
        line-height: 1;
        font-size: 6rem; }
    .org--content-getstarted .org--gs-item:last-child {
      margin-bottom: 0; }
    .org--content-getstarted .org--gs-item h2 {
      font-family: "pragmatica-extended", sans-serif;
      font-weight: 500;
      font-style: italic;
      margin-top: 10px;
      font-size: 2rem; }
    .org--content-getstarted .org--gs-item p {
      font-size: 1.1rem;
      line-height: 1.5;
      margin-top: 1rem;
      margin-bottom: 2rem; }
    .org--content-getstarted .org--gs-item i.fa-sharp, .org--content-getstarted .org--gs-item i.fa-kit {
      margin-right: 1rem; }
    .org--content-getstarted .org--gs-item a {
      font-family: pragmatica, sans-serif;
      font-weight: 700;
      font-style: normal;
      text-decoration: none;
      color: #000C16;
      background: rgba(64, 211, 193, 0.33); }
      .org--content-getstarted .org--gs-item a:hover {
        color: #000C16;
        background: rgba(64, 211, 193, 0.66); }
    .org--content-getstarted .org--gs-item ul {
      margin-top: 1rem;
      margin-bottom: 0; }
      .org--content-getstarted .org--gs-item ul li {
        font-size: 1.1rem;
        margin-bottom: 1rem; }
        .org--content-getstarted .org--gs-item ul li:last-child {
          margin-bottom: 0; }

.org--slider-hero .mol--slider-content {
  padding: 6rem;
  height: 500px; }
  .org--slider-hero .mol--slider-content h4 {
    margin-bottom: 2rem; }
  .org--slider-hero .mol--slider-content h1 {
    font-size: 6rem; }
  .org--slider-hero .mol--slider-content .mol-slider-content-buttons {
    margin-top: 4rem; }

.splide__arrow {
  opacity: 1;
  border-radius: unset;
  background-color: rgba(0, 12, 22, 0.1);
  color: #40D3C1;
  cursor: pointer; }
  .splide__arrow:hover {
    background-color: rgba(0, 12, 22, 0.2); }

.splide__pagination__page {
  background: #000C16;
  opacity: 1; }
  .splide__pagination__page.is-active {
    background: #40D3C1; }

.org--content-introduction {
  margin-top: 4rem;
  color: #000C16;
  background-position: top center; }
  .org--content-introduction .org--content-introduction-inner {
    margin: 0;
    padding: 12rem 0; }
  .org--content-introduction h3 {
    font-size: 3rem;
    font-family: "pragmatica-extended", sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 5px; }
  .org--content-introduction p {
    font-size: 1.3rem; }

.mol--post-title {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .mol--post-title h1 {
    font-size: 3rem;
    margin-bottom: 0; }

.mol--post-synopsis {
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .mol--post-synopsis p.atm--post-synopsis {
    font-family: pragmatica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.4; }

.mol--post-tldr {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem; }
  .mol--post-tldr ul {
    padding-left: 1rem; }
    .mol--post-tldr ul li {
      font-size: 0.85rem;
      margin-bottom: 15px; }

.org--content-single {
  margin-top: 4rem;
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .org--content-single h2 {
    margin-top: 1rem;
    margin-bottom: 2rem; }
  .org--content-single h3 {
    margin-bottom: 2rem; }
  .org--content-single h4 {
    margin-bottom: 16px; }
  .org--content-single p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 2rem; }
    .org--content-single p:last-child {
      margin-bottom: 0; }
    .org--content-single p.atm--post-intro {
      font-family: pragmatica, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.4rem;
      line-height: 1.6; }
    .org--content-single p.atm--post-outro {
      font-family: pragmatica, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.4rem;
      line-height: 1.5;
      font-style: italic;
      margin: 0; }

.mol--post-paragraph {
  margin-bottom: 2rem; }

.mol--image-full figure.atm--post-img {
  margin-bottom: 2rem;
  position: relative; }
  .mol--image-full figure.atm--post-img figcaption {
    font-family: "pragmatica-extended", sans-serif;
    font-weight: 500;
    font-style: italic;
    position: absolute;
    font-style: italic;
    z-index: 10;
    bottom: 30px;
    left: 0;
    padding: 7px 20px;
    background-color: #fffbf3;
    border-top: 5px solid #FF8478;
    font-size: 0.9rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }

.mol--post-conclusion {
  padding: 40px 80px;
  margin-top: 60px;
  border-top: 1px solid #40D3C1;
  border-bottom: 1px solid #40D3C1; }

.mol--post-break {
  margin-bottom: 2rem; }
  .mol--post-break figure {
    max-width: 140px; }

.mol--code-block {
  position: relative;
  margin-bottom: 4rem;
  /* for block of code */ }
  .mol--code-block .atm--code-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2); }
    .mol--code-block .atm--code-header button {
      cursor: pointer;
      padding: 4px 10px;
      font-size: 0.8rem;
      font-family: "AvertaStdPE-Semibold", Arial, Helvetica, sans-serif;
      color: #fff;
      border: none;
      background-color: rgba(0, 0, 0, 0.3); }
      .mol--code-block .atm--code-header button:hover {
        background-color: rgba(0, 0, 0, 0.6); }
  .mol--code-block pre code.hljs {
    padding: 2rem;
    padding-top: 50px; }
  .mol--code-block .hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    vertical-align: top;
    padding-right: 5px; }
  .mol--code-block .hljs-ln-code {
    padding-left: 15px; }

.org--content-roadmap {
  margin: 4rem 0;
  padding: 4rem 0; }
  .org--content-roadmap .org--rm--item {
    padding: 1rem;
    padding-left: 30px;
    border-left: 5px solid #000C16; }
    .org--content-roadmap .org--rm--item .mol--rm--inner {
      padding: 2rem;
      padding-top: 4rem;
      padding-left: 4rem;
      padding-right: 10rem;
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      position: relative; }
      .org--content-roadmap .org--rm--item .mol--rm--inner .atm--rm-marker {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        left: -20px;
        transform: translate(-50%, -50%);
        z-index: 15; }
      .org--content-roadmap .org--rm--item .mol--rm--inner .atm--rm-status {
        display: block;
        position: absolute;
        margin: 7px;
        width: 50px;
        height: 50px;
        top: 0;
        right: 0;
        z-index: 20; }
        .org--content-roadmap .org--rm--item .mol--rm--inner .atm--rm-status i {
          color: #FF8478; }
      .org--content-roadmap .org--rm--item .mol--rm--inner h2 {
        font-size: 3rem; }
      .org--content-roadmap .org--rm--item .mol--rm--inner p {
        font-size: 1.1rem;
        line-height: 1.5;
        margin-top: 1rem;
        margin-bottom: 1rem; }
      .org--content-roadmap .org--rm--item .mol--rm--inner a {
        font-family: pragmatica, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #2cbeac; }
        .org--content-roadmap .org--rm--item .mol--rm--inner a:hover {
          color: #000C16; }
      .org--content-roadmap .org--rm--item .mol--rm--inner ul {
        margin-top: 1rem;
        margin-bottom: 0;
        padding-left: 0.8rem;
        list-style-type: none; }
        .org--content-roadmap .org--rm--item .mol--rm--inner ul li {
          font-size: 1.1rem;
          margin-bottom: 6px; }
          .org--content-roadmap .org--rm--item .mol--rm--inner ul li:last-child {
            margin-bottom: 0; }
          .org--content-roadmap .org--rm--item .mol--rm--inner ul li i {
            margin-right: 4px; }

@media (min-width: 992px) {
  .org--content-roadmap .org--rm--item .mol--gs--inner {
    padding-right: 10rem; } }

.pulsatingDot {
  animation: pulseDot 1.75s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.3s infinite;
  background-color: #FF8478;
  border-radius: 50%;
  box-sizing: border-box;
  height: 20px;
  width: 20px; }

.pulsatingDot:before {
  animation: pulseRing 1.75s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  background-color: #FF8478;
  border-radius: 50px;
  content: '';
  display: block;
  height: 300%;
  left: -100%;
  position: relative;
  top: -100%;
  width: 300%; }

@keyframes pulseRing {
  0% {
    transform: scale(0.4); }
  80%, 100% {
    opacity: 0; } }

@keyframes pulseDot {
  0%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); } }
